body {
	background-color: black;
	overflow: hidden;
}
.acct_panel {
	display: none;
	position: absolute;
	background-color: purple;
	top: 0%;
	left:0%;
	right: 0%;
	bottom: 0%;
	margin: auto;
}

.acct_input {
	position: relative;
	width: 80%;
	margin-left: 10%;
	height: 30px;
	margin-top: 5%;
	top: 27%;
}

#Sign_Up {
	width: 400px;
	height: 450px;
	display: block;
}

#Login {
	width: 400px;
	height: 300px;
}